<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>In order to calculate your labor rates we will need the zip code of your project’s location</h2>
              <div class="question-answer-icon-holder">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
            <figcaption>
              <form class="question-answer-form" [formGroup]="myLocationFrm">
                <span *ngIf="a, else blockwise"><p class="text-center mb-2 pt-0 alert" style="color:#155724;">{{message}}</p></span>
                <ng-template #blockwise><p class="text-center mb-2 pt-0 alert">{{message}}</p></ng-template>
                <mat-error class="text-center" *ngIf = "!pincodeValid && myLocationFrm.touched">Pin Code is Not correct</mat-error>
                <!-- <mat-error class="text-center" *ngIf = "!show"></mat-error> -->
                <mat-form-field class="common-style-question-answer put-your-pin">
                  <input type="number" matInput placeholder="Enter Zip Code" (keypress)="onKeydown($event)" (keyup)="getLocation($event)" formControlName="place" value={{pinCode}}>
                </mat-form-field>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/flooring" mat-button class="prev-btn">Previous</a>
                  <a (click)="locationSubmit()" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>
