<header class="header-login-signup-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark navigation-holder">
      <a class="navbar-brand" routerLink="/home"><img src="/assets/images/white-logo.png" alt="KLISEE"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse empowering-home-text-controller" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item separater">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main class="login-signup-main-wrapper">
    <section class="login-signup-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 heading-tag">
              <h1>Create a new <strong>Account</strong>
                <span *ngIf="signupChange">Come join the Klisee, Let's setup your account. Already have one? <a routerLink="/login">Sign in here.</a> </span>
                <span *ngIf="!signupChange">Please create a account to save your project. Already have one? <a routerLink="/login">Sign in here.</a> </span>
              </h1>
          </div>
        </div>
        <div class="signup-login-holder">
          <div class="row">
            <div class="col-12 login-signup-form-controller offwhite-bg">
                <span *ngIf="a, else blockwise"><p class="text-center mb-2 pt-0 alert" style="color:#c94141;">{{message}}</p></span>
                <ng-template #blockwise><p class="text-center mb-2 pt-0 alert" style="color:#2d9244;">{{message}}</p></ng-template>
              <!-- <p class="alert">{{message}}</p> -->
              <form id="myFrm" class="form" [formGroup]="myForm">
                <ul>
                  <li>
                    <mat-form-field>
                      <!-- <input matInput placeholder="Name" required> -->
                      <input matInput type="text" placeholder="Name" id="one" class="new" formControlName="name">
                      <mat-error *ngIf = "this.myForm.controls.name.status!=='VALID' && show">Name is required</mat-error>
                    </mat-form-field>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput  type="text" placeholder="Email" id="two" class="new" formControlName="email">
                      <mat-error *ngIf = "this.myForm.controls.name.status!=='VALID' && show">Enter a Valid Email</mat-error>
                    </mat-form-field>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" id="three" class="new" formControlName="password">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf = "this.myForm.controls.password.status!=='VALID' && show">Minimum 6 digits are Required</mat-error>
                    </mat-form-field>
                  </li>
                  <li>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" id="four" class="new" formControlName="confirm_password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf = "this.myForm.controls.confirm_password.status!=='VALID' && show">Password does not match</mat-error>
                    </mat-form-field>
                  </li>
                  <li class="terms-service-controller">By submitting this form you agree to Klisee <a href="">Terms of Service</a></li>
                  <li class="text-center">
                    <button mat-raised-button class="submit-btn" type="submit" (click)="FormSubmit()" [disabled]="!myForm.valid">Submit</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </main>

  <!-- (ngSubmit)= "onSubmit()" -->

 <!-- <div class="or-saparater">
                  <p>Or</p>
                </div>
                <ul class="social-btn-holder">
                  <li>
                    <a mat-raised-button class="facebook-btn"><i class="fa fa-facebook"></i>Sign up with Facebook</a>
                  </li>
                  <li>
                    <a mat-raised-button class="google-plus-btn"><i class="fa fa-google-plus"></i>Sign up with Google</a>
                  </li>
                </ul> -->